<style>
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');
</style>

body{
  margin: 0;
  width: 100%;
  font-family: 'Signika', sans-serif;
  font-size: 16px;
}

.hero{
  min-height: 100vh;
  min-width: 100vh;
  background-image:  url("./bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.header{
  display: flex;
  min-height: 10vh;
  width: 100%;
  justify-content: space-between;

}

.header img{
  padding-left: 10px;
}

.header img {
  max-width: 90px;
  max-height: 90px;
  padding-right: 10px;
  padding-top: 28px;
}

.wrapper{
  display: grid;
  grid-auto-rows: 1fr 1fr;
  min-height: 50px;
  margin: 25vw;
  margin-top: auto;
  line-height: 5%;
  margin-bottom: auto;
  text-align: center;
}

h1{
  color: white;
  font-size: 72px;
  font-weight: bold;
  line-height: normal;

}

h2{
  color: white;
  font-size: 48px;
  font-weight: bolder;
  line-height: normal;
}
